$border-bottom:rgb(239, 243, 244);
.home{
    border-left: 1px solid rgb(239, 243, 244);
    border-right: 1px solid rgb(239, 243, 244);
    width: 42%;

    .home-top{
        height: 53px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        border-bottom: 2px solid $border-bottom;
        span{
            font-size: 20px;
            font-weight: 700;
            color: rgb(15, 20, 25);
        }
    }

    .home-form{
        display: flex;
        padding: 8px 16px 0 16px;
        border-bottom: 2px solid $border-bottom;
        .home-form-avatar{
            margin-right: 12px;
            width: 10%;
            img{
                width: 48px;
                height: 48px;
                border-radius: 50%;
            }
        }

        .home-form-input{
            width: 90%;
            .home-form__top{
                
                textarea{
                    width: 99%;
                    font-size: 20px;
                    padding: 15px 0 3px 0;
                    border: none;
                    outline: none;
                    font-family: inherit;
                    resize:none;
                }
            }

            .home-form__button{
                display: flex;

                .home-form__buttonL{
                    padding: 15px 0;
                    color: $twitter-color;
                    display: flex;
                    div{
                        width: 34px;
                        height: 34px;
                        border-radius: 50%;
                        &:hover{
                            background-color: $border-bottom;
                        }
                    }
                }
            }
        }
    }
}